#main {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#questionAndAnswer {
    min-height: 500px;
    width: 75%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
}

#questionHolder {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    padding: 10px;
    padding-left: 30px;
    background-color: #0047b3;
}

#question {
    font-weight: bold;
    margin: 0px;
    text-align: center;
    color: white;
}

.answer {
    width: 100%;
    margin: 5px;
    color: white;
    padding: 5px;
    background-color: blue;
}

#podstForm {
    padding-top: 30px;
}

#question_number {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#question_number_holder {
    width: 309px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

#question_number p {
    font-size: 18px;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 10px;
}

#levelButtons {
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
}

#levelButtons > .btn {
    width: 309px !important;
}

#buttonSpec {
    width: 100%;
    padding: 10px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#specForm {
    width: 100%;
}

#buttonSpec > .btn, #form_buttons > #save, #form_buttons > #delete {
    width: 100% !important;
    margin: 10px;
}

#buttonsHolder {
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

#form_buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#rememberButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}


.btn {
    width: 150px !important;
    margin-top: 20px;
    margin-left: 5px;
}


@media only screen and (max-width: 1416px) {
    #levelButtons > .btn {
        width: 150px !important;
    }

    #categoryButtons, #navigationMenu, #rememberButtons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #question_number_holder {
        width: 100%;
        align-items: center;
        text-align: center;
    }
}

