#main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 60%;
}

#allCategoryHolder {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.categoryHolder {
	margin: 20px;
	padding: 20px;
	width: 130px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 4px;
	background-color: #cccccc;
}

#ratedCategoriesHolder {
	margin-top: 50px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#underCategories {
	width: 100%;
	height: 45px;
	margin-top: 30px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: #0d6efd;
}

#rateCategories {
	text-align: center;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
	height: 40px;
	padding: 10px 20px;
	cursor: pointer;
	color: white;
	text-decoration: none;
}

#rateCategories:visited {
	background-color: red;
}
