#main {
    display: flex;
    flex-direction: row;
}

#questionAndAnswer {
    width: 600px;
    height: 500px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}

.answer {
    width: 100%;
    margin: 5px;
    color: white;
    padding: 5px;
    background-color: blue;
}

a {
    margin-top: 20px;
    margin-left: 5px;
}

#holderForA {
    height: 100vh;
    width: 300px;
}
