#main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 60%;
}

#allCategoryHolder {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.categoryHolder {
	margin: 20px;
	padding: 20px;
	width: 130px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 4px;
	background-color: #cccccc;
}

#ratedCategoriesHolder {
	margin-top: 50px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#underCategories {
	width: 100%;
	height: 45px;
	margin-top: 30px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: #0d6efd;
}

#rateCategories {
	text-align: center;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
	height: 40px;
	padding: 10px 20px;
	cursor: pointer;
	color: white;
	background: none;
	border: none;
	text-decoration: none;
}


#rate-data {
	width: 100%;
	margin-top: 20px;
	border: 1px solid #d9d9d9;
}

.rate-question-holder {
	width: 100%;
	height: 70px;
	display: flex;
	align-items: center;
	padding: 0px 10px;
	text-decoration: none;
	background-color: white;
}

.rate-question-holder:hover {
	-webkit-transition: 0.5s;
	background-color: #f2f2f2;
}

.rate-border-style > a:nth-child(2) {
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
}

.rate-question-data-holder {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.rate-type {
	width: calc(100% - 20px);
	font-size: 16px;
}

.rate-count {
	width: 20px;
	font-weight: bold;
	font-size: 20px;
}

.rate-quesiton-button {
	width: 100%;
}